figure {
  border: 8px solid #000;
  padding: 16px;
  background-color: #FAFFFC;
  width: 344px;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
}

.bmw, .ibm {
  margin-right: 16px;
  float: left;
}

.uol, .g1 {
  margin-left: 16px;
  float: left;
}

.ibm, .g1 {
  margin-top: 16px;
}

img {
  width: 100%;
}