body {
    display: block;
}

.subtitulo-principal {
    font-size: .35em;
    text-transform: none;
}

.foto-home {
    height: 12.5rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 1em #000;
}

header {
    position: relative;
}

header h1 {
    text-shadow: 5px 5px #000;
}

.siga-me-twitter {
    width: 14em;
    line-height: 1;
    padding: 1em 0;
    border: .15em solid #000;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3C1D3D;
    
    text-decoration: none;
    text-transform: none;
    font-size: 1.3rem;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    color: #fff;
    transform: translate(calc(0.707 * (3.5em - 100%) + 100%), calc(-0.707 * 3.5em)) 
               rotate(45deg);
    transform-origin: 0 0;
    animation: aparece 0.5s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

body {
    perspective: 6px;
    perspective-origin: 50% 160px
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

.palavras-home, .titulo-principal {
    transform-style: preserve-3d;
}

.palavras-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: aparece 2s;
    animation-timing-function: ease-in-out;
}

@keyframes aparece {
    from {
        opacity: 0;
        transform: scale(0.001);
    }
}

.palavras-home li {
    font-size: 400%;
}

.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-size: 1.2rem;
    color: rgba(255, 127, 127, 0.5);
    text-transform: capitalize;
    position: absolute;
}

.eficiencia {
    top: 31.5%;
    left: 25.5%;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: translate(-50%, -50%) rotate(15deg) translateZ(2px) scale(0.10);
}

.boas-praticas {
    top: 37.5%;
    left: 25%;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: translate(-50%, -50%) rotate(-15deg) translateZ(.6px) scale(0.10);
    opacity: .7;
}

.codigo-limpo {
    top: 19%;
    left: 67.5%;
    transform: translate(-50%, -50%) rotate(8deg) translateZ(1px) scale(0.10);
}

.css3 {
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(-8deg) translateZ(0.8px) scale(0.10);
    opacity: .7;
}

.html5 {
    top: 55%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(11deg) translateZ(0.2px) scale(0.10);
    opacity: .5;
}

.javascript {
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(-11deg) translateZ(2px) scale(0.10);
}

.acessibilidade {
    top: 35%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(-17deg) translateZ(2px) scale(0.10);
}

.responsivo {
    top: 60%;
    left: 75%;
    transform: translate(-50%, -50%) rotate(17deg) translateZ(0.8px) scale(0.10);
    opacity: .7;
}

.otimizacoes {
    top: 60%;
    left: 8%;
    transform: translate(-50%, -50%) rotate(-15deg) translateZ(0.4px) scale(0.10);
    opacity: .7;
}

.design {
    top: 75%;
    left: 15%;
    transform: translate(-50%, -50%) rotate(15deg) translateZ(0.6px) scale(0.10);
    opacity: .7;
}

.agilidade {
    top: 15%;
    left: 35%;  
    transform: translate(-50%, -50%) rotate(-10deg) translateZ(0.2px) scale(0.10);
    opacity: .5; 
}

.saudacao p {
    color: #99A;
    line-height: 1;
    margin: 4em;
    padding: 0 2em;
    font-size: 1rem;
}
.saudacao-inicio {
    color: #889;
    font-size: 6.5em;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    color: #000;
    font-size: 4em;
}

.saudacao em {
    color: #851944;
    font-size: 6.5em;
    transform: rotate(-5deg) skew(-10deg);
    display: inline-block;
    animation: flutue 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: relative;
}

@keyframes flutue {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}

.saudacao:hover em {
    animation-play-state: paused;
}

.botao-index {
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 40ch;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4em;
    padding: .9em 0;
    box-shadow: 0 0 1em #000, inset 0 0 .5em #FFF;
    text-decoration: none;
}

.botao-index:focus,
.botao-index:hover {
    box-shadow: 0 0 2em #FA9;
    color: #FFF;
    background-color: #C54974;
    transition: .5s ease-in-out;
}

.secao-inicio h2 {
    text-shadow: 5px 5px #000;
    text-transform: uppercase;
    font-size: 312%;
}

.trabalhos {
    background-color: #3C1D3D;
    border-top: 0.625rem solid #000;
    border-bottom: 0.625rem solid #000;
    background-image: linear-gradient(135deg,
                        transparent,
                        transparent 14px,
                        rgba(0, 0, 0, .1) 14px,
                        rgba(0, 0, 0, .1) 15px,
                        transparent 15px,
                        transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.trabalhos h2 {
    color: #FFF;
    margin: .8em 0 .8em .8em;
}

.trabalhos ul {
    display: flex;
    border: 0.625rem solid black;
    margin: 0 2.496em 2.496em 2.496em;
}

.trabalhos li {
    flex: 1;
}

.trabalhos img {
    width: 100%;
    display: block;
}

.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: 0.625rem solid #851944;
    position: relative;
}

.blog li {
    width: 31%;
}

.blog li a {
    color: #FCF;
    padding: .5em;
    display: block;
}

.blog ol {
    margin: 2.5em 3.5em 3.5em 3em;
}

.blog h2 {
    margin-left: .8em;
    padding-top: .8em;
}

.blog small {
    position: relative;
    top: -1em;
    margin-left: 3.12em;
    font-size: 0.8em;
}

.blog li:hover {
    background-color: #F2FFFC;
    color: #F26;
}

.blog li:hover > .inicio-post {
    visibility: visible;
}

.blog li:hover > .segundo {
    transform: translateY(50px);
}

.blog li:hover > .terceiro {
    transform: translateY(100px);
}

.inicio-post {
    background-color: #F2FFFC;
    position: absolute;
    color: #000;
    top: 7em;
    right: 3em;
    height: 6em;
    padding: 1em;
    width: 40em;
    visibility: hidden;
}

footer {
    background-color: #000;
    color: #FFF;
}

footer h2 {
    font-size: 312%;
    margin-left: .8em;
    padding-top: .8em;
}

footer p {
    position: relative;
    top: -.5em;
    margin-left: 3.12em;
    font-size: 0.8em;
    padding-bottom: 2em;
}

footer a {
    color: #F99;
}

main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}