body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h1,
h2,
.subtitulo-principal {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
    text-shadow: 2px 2px #000;
}

.titulo-principal {
    text-transform: uppercase;
    font-size: 312%;
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 2rem;
    border-bottom: .5rem solid #000;
}

.subtitulo-texto {
    font-size: 156%;
    clear: both;
}

main a {
    color: #851944;
}

main p {
    text-align: justify;
    margin: 1.05em 0;
}

.navegacao-site {
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 1.25rem;
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: lowercase;
}

.navegacao-site h1 {
    font-size: 156%;
    margin-bottom: 1.56rem;
}

.rodape-pagina {
    background-image: radial-gradient(
        ellipse at bottom left, 
        rgba(60, 29, 61, 0.8), 
        rgba(60, 29, 61, 0.8) 64%, 
        black 60%, 
        black 70%, 
        transparent 70%, 
        transparent);
    color: #DDD;
    padding: 1.25rem;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-size: 25% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    text-shadow: 2px 2px #000;

}

.container {
    width: 70.53%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.icones-redes-sociais li {
    display: inline-block;
}

.icones-redes-sociais a {
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    text-indent: -99999px;
    position: relative;
}

.github {
    background-image: url(../imagens/github.png);
}

.twitter {
    background-image: url(../imagens/twitter.png);
}

.linkedin {
    background-image: url(../imagens/linkedin.png);
}

.icones-redes-sociais a:focus::after,
.icones-redes-sociais a:hover::after {
    content: attr(data-legenda);
    text-indent: 0;
    background-color: #000;
    color: #FFF;
    position: absolute;
    top: 113%;
    right: 0;
    width: 300%;
    padding: .5em;
    font-size: .7em;
    border-radius: .9em;
}

.icones-redes-sociais a:hover::before {
    content: "";
    height: 12px;
    width: 12px;
    background-color: #000;
    position: absolute;
    top: 98%;
    text-indent: 0;
    right: 40%;
    transform: rotate(45deg);
}

main {
    width: 80%;
    float: left;
    padding-bottom: 5rem;
}

.minha-foto,
.navegacao-site {
    border-left: .5rem solid black;
    border-bottom: .5rem solid black;
    box-sizing: border-box;
}

.navegacao-site {
    width: 20%;
    float: right;
    position: relative;
    top: 19rem;
}

.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
    height: 19rem;
}

main a:hover, 
main a:focus, 
footer a:hover,
footer a:focus,
.blog li a:hover,
.blog li a:focus {
    color: #F00;
}

.navegacao-site a:hover,
.navegacao-site a:focus {
    text-shadow: 0 0 0.3em #FFC0CB;
}
